/Web/sMartpaLm/admin_palm/__pycache__/
/Web/sMartpaLm/admin_palm/migrations/
/Web/sMartpaLm/common/__pycache__/
/Web/sMartpaLm/common/migrations/
/Web/sMartpaLm/config/__pycache__/
/Web/sMartpaLm/user_mob/__pycache__/
/Web/sMartpaLm/user_mob/migrations/
/Web/sMartpaLm/Utilities/__pycache__/
/Web/sMartpaLm/.idea/