{% load static %}

<script>
    function performAction(userId, action) {

    if (action === 'user') {
        // Perform edit action
        axios.post('/admin_palm/admin_user/')
            .then(response => {
                // Handle the response
            })
            .catch(error => {
                // Handle the error
            });
    } else if (action === 'superuser') {
        // Perform delete action
        axios.post('/admin_palm/admin_user/')
            .then(response => {
                // Handle the response
            })
            .catch(error => {
                // Handle the error
            });
    }
}
</script>

<form method="POST" action="{% url 'admin_palm:admin_user' %}">
    {% csrf_token %}
      {% include "form_errors.html" %}
        <div class="container-fluid">
            <div class="col-1">
            </div>
            <div class="col-10">
                <table style="border: 1px solid gray;">
                    <thead>
                        <tr>
                            <th>email</th>
                            <th>사용자권한</th>
                            <th>관리자권한</th>
                        </tr>
                    </thead>
                {% for user in user_list %}
                  <tr>
                  <td>{{ user.email }}</td>
                  <td>{{ user.is_active }}</td>
                  <td>{{ user.is_superuser }}</td>
<!--                  <td>-->
<!--                    <button onclick="performAction({{ user.id }}, 'user')">사용자권한</button>-->
<!--                    <button onclick="performAction({{ user.id }}, 'superuser')">관리자권한</button>-->
<!--                  </td>-->


                  </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-1">
            </div>
<!--      -->
<!--      <div class="mb-3">-->
<!--        <label for="email" class="form-label">Email address</label>-->
<!--            <input type="text" class="form-control" id="email" name ="email" maxlength="150" aria-describedby="emailHelp">-->
<!--            <div id="emailHelp" class="form-text">이메일 로그인</div>-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="password" class="form-label">Password</label>-->
<!--        <input type="password" class="form-control" id="password" name="password" maxlength="150">-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary" value="로그인">login</button>-->
</div>
</form>



