{% load static %}

{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
    {% endfor %}
{% endif %}

<!--<script>-->
<!--function clearText() {-->
<!--    var textbox = document.getElementById('farmName');-->
<!--    if (textbox.value === textbox.getAttribute('placeholder')) {-->
<!--        textbox.value = '';-->
<!--    }-->
<!--}-->
<!--</script>-->

<style>
    .form-check-input {
    margin:0.5em;
    }
    .mydiv {
    height:300px;
    overflow:scroll;
    }
    table {
    border:2px solid white;
    margin:0.3rem 0;
    position:relative;
    font-size: 12px;
    background-color:white;
    color:black;
    width:100%;
    }

    table thead {
    background-color:gray;
    color:white;
    }
</style>


<div class="mydiv">
    {% if user_list %}
    {% for user in user_list %}
    <div class="mb-3 row">
        <div class="col-sm-10">
        <table>
            <thead style="border: 1px solid gray;">
                <tr style="border: 1px solid gray;">
                    <th style="border: 1px solid gray;">No.</th>
                    <th style="border: 1px solid gray;">농장주 이름</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid gray;">
                      <tr style="border: 1px solid gray;">
                          <td style="border: 1px solid gray; font-size:16px;">{{ user.id }}</td>
                          <td style="border: 1px solid gray;"><h5>{{ user.username }}</h5></td>
                      </tr>
            </tbody>
            <thead style="border: 1px solid gray;">
                <tr style="border: 1px solid gray;">
                    <th style="border: 1px solid gray;">농장</th>
                    <th style="border: 1px solid gray;">농장 목록</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid gray;">

                          {% if farm_context %}
                            {% for username, farm_list in farm_context.items %}
                                {% if username == user.username %}
                                  <tr>
                                      <td style="border: 1px solid gray; font-size:16px;">{{ farm_list|length }}</td>
                                      <td style="border: 1px solid gray;">
                                        <ul>
                                            <br>
                                    {% for farm in farm_list %}
                                        {% if farm %}
                                                <li style="text-align:left; font-size:16px;">
                                                    {{ farm.name }}<hr>
                                                </li>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                        </ul>
                                {% else %}
                              <tr>
                                    <td style="border: 1px solid gray; font-size:16px;">0</td>
                                    <td style="border: 1px solid gray;">
                                {% endif %}
                            {% endfor %}
                          {% endif %}
                                    <form method="POST" action="{% url 'admin_palm:admin_farm'%}">
                                    {% csrf_token %}
                                        {% include "form_errors.html" %}
                                            <div class="row" style="padding:0.5rem;">
                                                <div class="col-lg-9">
                                                   <label for="user_id" class="col-sm-2 col-form-label" hidden></label>
                                                   <input type="text" class="form-control-userid" id="user_id" name="user_id" value='{{ user.id }}' hidden>
                                                   <label for="floatingInput" class="col-sm-2 col-form-label" hidden></label>
                                                   <input type="text" class="form-control-text" id="floatingInput" name="name" autocomplete="name" style="width:9rem; height:2rem; font-size:0.7rem" placeholder="변경할 농장명을 입력">

                                                    <button class="btn btn-outline-success" name="button-add" style="width:3rem; height:1.5rem; --bs-btn-padding-y: .1rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: .4rem;" id="addfarm" type="submit">add</button>
                                                    <button class="btn btn-outline-danger" name="button-del" style="width:3rem; height:1.5rem; --bs-btn-padding-y: .1rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: .4rem;" id="delfarm" type="submit">del</button>
                                                </div>
                                            </div>
                                    </form>
                             </td>

                      </tr>
                    {% endfor %}
                {% endif %}
                </tbody>


        </table>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-10">
            <table style="border: 1px solid gray; font-size: 12px; background-color: white; color:black; width:100%">

            </table>
        </div>
    </div>
</div>










