{% load static %}

{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
    {% endfor %}
{% endif %}

<!--<script>-->
<!--function clearText() {-->
<!--    var textbox = document.getElementById('farmName');-->
<!--    if (textbox.value === textbox.getAttribute('placeholder')) {-->
<!--        textbox.value = '';-->
<!--    }-->
<!--}-->
<!--</script>-->

<style>
    .form-check-input {
    margin:0.5em;
    }
    .mydiv {
    width:100%;
    height:300px;
    overflow:scroll;
    margin:0%;
    padding:0%;
    display: flex;
    justify-content: center;
    }
    table {
    border:2px solid white;
    padding:0;
    margin:0;
    position:relative;
    font-size: 12px;
    background-color:white;
    color:black;
    }

    table thead {
    background-color:gray;
    color:white;
    }
</style>


<div class="mydiv">

    {% if user_list %}
    {% for user in user_list %}

    <div class="mb-3 row">
        <div class="col-sm-12">
           <table>
            <thead style="border: 1px solid gray;">
                <tr style="border: 1px solid gray;">
                    <th style="border: 1px solid gray; width:30%;">No.</th>
                    <th style="border: 1px solid gray; width:70%;">농장주 이름</th>
                </tr>
            </thead>
               <tbody style="border: 1px solid gray;">
                          <tr style="border: 1px solid gray;">
                              <td style="border: 1px solid gray; font-size:16px;">{{ user.id }}</td>
                              <td style="border: 1px solid gray;"><h5>{{ user.username }}</h5></td>
                          </tr>
                </tbody>
            <thead style="border: 1px solid gray;">
                <tr style="border: 1px solid gray;">
                    <th style="border: 1px solid gray;">농장 수</th>
                    <th style="border: 1px solid gray;">농장 목록</th>
                </tr>
            </thead>
               <tbody style="border: 1px solid gray;">
            {% if farm_context %}
                {% for username, farm_list in farm_context.items %}
                   {% if farm_list|length > 0 %}
                            <tr>
                                    <td style="border: 1px solid gray; font-size:16px;">{{ farm_list|length }}</td>
                                    <td style="border: 1px solid gray;">
                        {% if username == user.username %}
                            {% for farm in farm_list %}

                                        <div style="width:15rem;">
                                            <ul>
                                                <br>
                                                <li style="text-align:left; font-size:16px;">
                                                    {{ farm }}<hr>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endfor %}
                        {% else %}
                           <tbody style="border: 1px solid gray;">
                                <tr>
                                    <td style="border: 1px solid gray; font-size:16px;"> 0 </td>
                                    <td style="border: 1px solid gray;">
                                        <div style="width:15rem;">
                                            <ul>
                                                <br>
                                                <li style="text-align:left; font-size:16px; color:gray;">
                                                    [None]<hr>
                                                </li>
                                            </ul>
                                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                        {% else %}
                           <tbody style="border: 1px solid gray;">
                                <tr>
                                    <td style="border: 1px solid gray; font-size:16px;"> 0 </td>
                                    <td style="border: 1px solid gray;">
                                        <div style="width:15rem;">
                                            <ul>
                                                <br>
                                                <li style="text-align:left; font-size:16px; color:gray;">
                                                    [None]<hr>
                                                </li>
                                            </ul>
                                        </div>
          {% endif %}
                                        <div class="row" style="text-align: right;">
                                           <form method="POST" action="{% url 'admin_palm:admin_farm'%}">
                                                    {% csrf_token %}
                                                        {% include "form_errors.html" %}
                                                            <div class="row" style="padding:0.5rem;">
                                                                <div class="col-lg-12">
                                                                    추가/삭제  :
                                                                   <label for="user_id" class="col-sm-2 col-form-label" hidden></label>
                                                                   <input type="text" class="form-control-userid" id="user_id" name="user_id" value='{{ user.id }}' hidden>
                                                                   <label for="floatingInput" class="col-sm-2 col-form-label" hidden></label>
                                                                   <input type="text" class="form-control-text" id="floatingInput" name="name" autocomplete="name" style="width:9rem; height:2rem; font-size:0.7rem" placeholder="농장명을 입력하세요">
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding:0.5rem;">
                                                                <div class="col-lg-12">
                                                                    <button class="btn btn-outline-success" name="button-add" style="width:4rem; height:1.5rem; --bs-btn-padding-y: .1rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: .4rem;" id="addfarm" type="submit">추가</button>
                                                                    <button class="btn btn-outline-danger" name="button-del" style="width:4rem; height:1.5rem; --bs-btn-padding-y: .1rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: .4rem;" id="delfarm" type="submit">삭제</button>
                                                                </div>
                                                            </div>
                                           </form>
                                        </div>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
            {% endfor %}
        {% endif %}
    </div>
</div>










