{% extends "base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
    {% endfor %}
{% endif %}

  <div class="container-fluid">

    <form method="POST" action="{% url 'common:login' %}">
      {% csrf_token %}
      {% include "form_errors.html" %}

      <div class="mb-3">
        <h2>Login</h2><br>
        <label for="email" class="form-label">Email address</label>
            <input type="text" class="form-control" id="email" name ="email" maxlength="150" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">이메일 로그인</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" maxlength="150">
      </div>
      <button type="submit" class="btn btn-primary" value="로그인">login</button>

    </form>
    </div>
{% endblock %}