{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
    {% endfor %}
{% endif %}
<h3>회원가입</h3>
<div class="container">
    <form method="POST" action="{% url 'common:signup' %}">
      {% csrf_token %}
      <div class="col-md-6">
        <label for="email" class="form-label">이메일</label>
        <input type="text" class="form-control" id="email" placeholder="이메일 주소" name="email">
      </div>
      <div class="col-md-6">
        <label for="password1" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="password1" placeholder="비밀번호" name="password1">
      </div>
      <div class="col-md-6">
        <label for="password2" class="form-label">비밀번호 확인</label>
        <input type="password" class="form-control" id="password2" placeholder="비밀번호 확인" name="password2">
      </div>
      <br>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">가입</button>
      </div>
    </form>
</div>

{% endblock content %}