<!DOCTYPE html>
<html>
    <head>
        <title>MQTT Publish</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>
           // using jQuery
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }
            function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $(document).ready(function() {
              var csrftoken = getCookie('csrftoken');
              $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
                }
              });
            });
        </script>
    </head>
    <body>
        Topic:
        <input type="text" id="inp_topic" placeholder="Topic을 입력하세요"></p>
        Message:
        <input type="text" id="inp_msg" placeholder="메시지를 입력하세요">
        </p>
        <button onclick="Mos_pub()">Mos Publish</button>
        <button onclick="Mos_sub()">Mos Subscribe</button>
        <button onclick="Mos_disconnect()">종료</button>

        <script>
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
            }

            function Mos_pub() {
                var msg_inp = $('#inp_msg').val();
                var topic_inp = $('#inp_topic').val();
                $.ajax({
                url: "{% url 'user_mob:pub_m' %}",
                data: { message: msg_inp, topic: topic_inp },
                type: 'GET',
                success: function(data) {

                  // Display the pages links
                  alert('Publish complited....');
                }
              });
            }

            function Mos_sub() {
                var msg_inp = $('#inp_topic').val();
                $.ajax({
                url: "{% url 'user_mob:sub_m' %}",
                data: { topic: msg_inp },
                type: 'GET',
                success: function(data) {

                  // Display the pages links
                  alert('Subscriber connected....');
                }
              });
            }

            function Mos_disconnect() {
                $.ajax({
                url: "{% url 'user_mob:mqtt_disc' %}",
                type: 'GET',
                success: function(data) {

                  // Display the pages links
                  alert('Subscribe terminated....');
                }
              });
            }
        </script>
    </body>
</html>