{% extends 'palm_base.html' %}

{% load static %}
{% url 'common:home' as current_site %}
{% get_media_prefix as media_prefix %}


{% block head %}
<style>
    table{
    width:100%;
    position:relative;
    border:1px solid black;
    } tr{
    width:100%;
    background-color:white;
    color:black;
    margin:0.5rem;
    text-align:center;
    }
    button{
    border-radius: 3px;
    width:6rem;
    height:4rem;
    margin:0px;
    }
    .refresh{
    color:white;
    border-color:white;
    background-color:blue;
    width:4rem;
    height:1.5rem;
    margin:0px;
    }
    .back{
    color:white;
    border-color:white;
    background-color:blue;
    width:4rem;
    height:1.5rem;
    margin:5px;
    }
    img
    {
    width:100%;
    }
</style>
{% endblock %}

{% block subtitle %}
<div style="margin:0.4rem; padding:0.2rem;">
    <h1 style="text-align:center"><strong>PalmControl : {{ farm }} </strong></h1>
</div>
{% endblock %}

{% block close %} <button class="back" type="submit" name="back" aria-label="Close">뒤로</button> {% endblock %}
{% block content %}

<form method="post" action="{% url 'user_mob:mqtt_m' username=user.username farm=farm %}">
            {% csrf_token %}
<div>
    <table>
      <tr><td>농장 카메라</td></tr>
        <tr>
            <td>
                <div class="streaming" style="margin:0.8rem; width:100%; height:100%; margin:0;">
                    <img src=img_path>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="streaming" style="margin:0.8rem; width:100%; height:100%; margin:0;">
                    <br><br><br><br>
                </div>
            </td>
        </tr>
    </table>
    <div style="text-align:right; margin:1rem;">
        <div class="row">
            <div class="col-3">
                <button class="refresh" type="submit" style="font-size:0.4rem;" id="refresh" name="refresh">
                    새로고침
                </button>

            </div>
            <div class="col-6">
                자동제어 :
            </div>
            <div class="col-2">
                <div class="form-check form-switch" >
                    <input class="form-check-input" type="checkbox" style="width:2rem; height:1rem;" role="switch" id="flexSwitchCheckDefault" value="on">
                    <button type="submit" name="auto" hidden></button>
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
            <div class="col-1">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <td>
                <div class="row">
                    <div class="col">
                        <button class="light-on-button" type="submit" id="on_button" style="background-color:#ffd700; color:black; border-color:white;" name="on_button">
                            <strong>Light</strong><strong style="color:white;"> On </strong>
                            <div style="width:3rem; height:4rem; padding:0.5rem 2rem;"></div>
                        </button>
                        <button class="light-on-button" type="submit" id="off_button" style="background-color:gray; color:white; border-color:black;" name="off_button">
                            <strong>Light</strong><strong style="color:black;"> Off </strong>
                            <div style="width:3rem; height:4rem; padding:0.5rem 2rem;">
                            </div>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
  </div>
</form>
{% endblock %}


